body {
	background-color: #BBB;
	margin: 0;
}

#container {
	/*background: #91A17D;*/
	background: #FAFBFC;
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: 940px;
	padding-bottom: 30px;
}


header {
	position: relative;
	padding: 6px 0 0 0;
}

header h1 {
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	margin: 0 0 10px 15px;
	padding-top: 15px;
	font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif;
}

header img {
	position: relative;
	border-top: 5px solid #000;
	border-bottom: 5px solid #000;
	/*margin-bottom: 12px;*/
}


section {
	display: block;
	vertical-align: baseline
}

section#pagetitle nav {
	float: right;
	font-family: 'Raleway',sans-serif;
	padding-right: 20px;
	margin-bottom: 5px;
}

section.content {
	padding-left: 20px;
	/*padding-right: 20px;*/
	position: relative;
	float: left;
	margin-bottom: 20px;
	width: 69%;
}

section.postdate {
	font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif;
	font-size: 17px;
	margin-bottom: 20px;
	padding-left: 40px;
	color: #9DA3B0;
}

section.content ul {
	padding-left: 0;
	margin: 10px 30px;
}

section.content li {
	list-style: none;
	font-family: verdana, sans-serif;
	position: relative;
	margin-bottom: 15px;
}

section.content p {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	line-height: 27px;
}

section.side_nav {
	margin-top: 40px;
	position: relative;
	float: right;
	width: 24%;
	background: #FAFBFC;
	padding: 5px;
}

section.side_nav h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	margin-bottom: 20px;
}

section.side_nav ul {
	padding-left: 22px;
}

section.side_nav li {
	margin-bottom: 15px;
	list-style: circle;
}

a:link {
	font-weight: bold;
	text-decoration: none;
	color: #333;
	font-family: verdana, sans-serif;
	line-height: 15px;
}

a:visited {
	color: #333;
}

a:active {
	color: #333;
}

a:hover {
	color: #0000CC;
}

section.side_nav li a:link {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	line-height: 15px;
	font-weight: normal;
}

a.more_link:link {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	line-height: 15px;
	font-weight: normal;
}

footer {
	clear: both;
	background: #FAFBFC;
	width: 100%;
	font-size: xx-large;
	line-height: 30px;
	text-align: center;
	padding: 0;
	margin-top: 20px;
}

footer a:link {
	font-size: xx-large;
	line-height: 30px;
	color: #9DA3B0;
}

footer a:visited {
	color: #9DA3B0;
}

footer a:active {
	color: #9DA3B0;
}

footer a:hover {
	text-decoration: none;
	color: #000;
}

section.postdate {
	font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif;
	font-size: 17px;
	margin-bottom: 20px;
	padding-left: 40px;
}

#shortdesc {
	text-align: left;
	font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif;
	margin-bottom: 20px;
	padding-left: 20px;
	margin-top: 0;
	font-size: 18px;
}

.article {
	/*clear: right;*/
	margin-top: 20px;
	/*border: 1px solid gray;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: 4px 4px 5px #282b1f;
	-moz-box-shadow: 4px 4px 5px #282b1f;
	box-shadow: 4px 4px 5px #282b1f;
	background-color: #fff;
	background-color: #FAFBFC; */
	border-bottom: 1px solid #CBDBD8;
	padding-bottom: 20px;
	margin-bottom: 40px;

}

.article .articleheader {
	border-bottom: 1px solid #CBDBD8;
}

.article .articleheader h1 {
	font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif;
	font-weight: bold;
	padding-top: 10px;
	padding-left: 20px;
	font-size: 30px;
	margin: 0;
}

.article p {
	font-family: 'Raleway',sans-serif;
	font-size: 18px;
	line-height: 27px;
	padding: 10px 20px;
}


@media screen and (max-width: 980px) {
	#container {
		min-width: 300px;
		width: 100%;
	}

	header img {
		min-width: 300px;
		width: 100%;
		height: auto;
	}

	section.content {
		width: 100%;
		float: none;
		display: block;
		margin-left: 0;
		padding-left: 0;
	}

	section.content ul {
		margin-top: 20px;
	}

	section.content li {
		margin-bottom: 25px;
	}

	section.side_nav {
		float: none;
		margin: 5px auto;
		padding: 2%;
		width: 50%;
		border: 1px solid silver;
	}

	section.side_nav ul {
		width: 100%;
	}

	a:link {
		font-size: 20px;
		line-height: 20px;
	}

	header h1 {
		float: none;
		width: 100%;
		text-align: center;
		padding-left: 0;
		margin-left: 0;
	}
	
	#shortdesc {
		float: none;
		width: 100%;
		text-align: center;
		padding-left: 0;
		margin-left: 0;
	}

	section#pagetitle nav {
		float: none;
		width: 100%;
		text-align: center;
		margin-left: 0;
		margin-bottom: 10px;
	}

	.article{
		margin-left: 0;
	}
	
	.article .articleheader h1 {
		float: none;
		width: 100%;
		text-align: center;
		padding-left: 0;
		font-size: 20px;
	}

	.article p {
		padding-left: 10px;
		padding-right: 10px;
	}
	
	section.postdate {
		float: none;
		width: 100%;
		text-align: center;
		padding-left: 0;
	}

}


