body {
	background-color: #777;
	margin: 0;
}

#container {
	background: #fff;
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: 940px;
	padding-bottom: 30px;
}


header {
	position: relative;
	padding: 6px 0 0 0;
}

header h1 {
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	margin: 0 0 10px 15px;
	padding-top: 15px;
	font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif;
}

header img {
	position: relative;
	border-top: 5px solid #000;
	border-bottom: 5px solid #000;
	margin-bottom: 12px;
}


section {
	display: block;
	vertical-align: baseline
}

section#pagetitle nav {
	float: right;
	font-family: 'Raleway',sans-serif;
	padding-right: 20px;
	margin-bottom: 5px;
}

section.content {
	padding-left: 20px;
	padding-right: 20px;
}

section.postdate {
	font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif;
	font-size: 17px;
	margin-bottom: 20px;
	padding-left: 40px;
}

section.content ul {
	padding-left: 0;
	margin: 10px 30px;
}

section.content li {
	list-style: none;
	font-family: verdana, sans-serif;
	position: relative;
	margin-bottom: 15px;
}

section.content p {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	line-height: 27px;
}


a:link {
	font-weight: bold;
	text-decoration: none;
	color: #333;
	font-family: verdana, sans-serif;
	line-height: 15px;
}

a:visited {
	color: #333;
}

a:active {
	color: #333;
}

a:hover {
	color: #0000CC;
}

footer {
	width: 100%;
	font-size: xx-large;
	line-height: 30px;
	text-align: center;
	padding: 0;
	margin-top: 20px;
}

footer a:link {
	font-size: xx-large;
	line-height: 30px;
}

section.postdate {
	font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif;
	font-size: 17px;
	margin-bottom: 20px;
	padding-left: 40px;
}

#shortdesc {
	text-align: left;
	font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif;
	margin-bottom: 20px;
	padding-left: 20px;
	margin-top: 0;
	font-size: 18px;
}

.article {
	/*clear: right;*/
	margin-top: 20px;
	border: 1px solid gray;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: 4px 4px 5px #282b1f;
	-moz-box-shadow: 4px 4px 5px #282b1f;
	box-shadow: 4px 4px 5px #282b1f;
	background-color: #fff;

}

.article .articleheader {
	border-bottom: 1px solid gray;
}

.article .articleheader h1 {
	font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif;
	font-weight: bold;
	padding-top: 10px;
	padding-left: 20px;
	font-size: 20px;
	margin: 0;
}

.article p {
	font-family: 'Raleway',sans-serif;
	font-size: 18px;
	line-height: 27px;
	padding: 10px 20px;
}


@media screen and (max-width: 940px) {
	#container {
		min-width: 300px;
		width: 100%;
	}

	header img {
		min-width: 300px;
		width: 100%;
		height: auto;
	}

	section.content ul {
		margin-top: 20px;
	}

	section.content li {
		margin-bottom: 25px;
	}

	a:link {
		font-size: 20px;
		line-height: 20px;
	}

	header h1 {
		float: none;
		width: 100%;
		text-align: center;
		padding-left: 0;
		margin-left: 0;
	}
	
	#shortdesc {
		float: none;
		width: 100%;
		text-align: center;
		padding-left: 0;
		margin-left: 0;
	}

	section#pagetitle nav {
		float: none;
		width: 100%;
		text-align: center;
		margin-left: 0;
		margin-bottom: 10px;
	}
	
	.article .articleheader h1 {
		float: none;
		width: 100%;
		text-align: center;
		padding-left: 0;
	}
	
	section.postdate {
		float: none;
		width: 100%;
		text-align: center;
		padding-left: 0;
	}

}


